
.centered {
    text-align: center;
}

.capitalize {
   text-transform: capitalize;
}
.logo {
    height: 40px;
    padding-top:5px;
    padding-bottom: 5px;
    
    
}

.navbar-default {
    background-color:#0099E8;
    border-color:#0086D4;
}